In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({'Name' : ['Brad', 'Angelina', 'Tom'], 
                   'Surname' : ['Pitt', 'Jolie', 'Cruise'],
                  'Age' : [58, 47, 60]})
print(df)

       Name Surname  Age
0      Brad    Pitt   58
1  Angelina   Jolie   47
2       Tom  Cruise   60