# Practice 8: data cleaning

In [10]:
import pandas as pd
import numpy as np

# Step 1

In [2]:
#Load the whole dataframe and print it
df = pd.read_parquet(r"D:\KBTU\2022-2023\Python Course\Course\Pratices\Practice_8\usb_file\df_final_US_EUR.parquet")
print(df)

               Date  Open   High   Low  Close  Adj Close   Volume      Name
0        2008-01-29  9.50   9.99  8.57   8.75   0.702589  1489000      AACG
1        2008-01-30  8.75   9.15  8.30   8.50   0.682516   219000      AACG
2        2008-01-31  8.49  10.30  8.49   9.55   0.766826   182300      AACG
3        2008-02-01  9.93   9.94  9.50   9.51   0.763614    28200      AACG
4        2008-02-04  9.50   9.71  9.50   9.50   0.762811     8300      AACG
...             ...   ...    ...   ...    ...        ...      ...       ...
27247611 2022-08-24  9.54   9.54  7.75   9.00   9.000000   125933  ZWIPE.OL
27247612 2022-08-25  8.79   9.99  8.03   9.34   9.340000   159549  ZWIPE.OL
27247613 2022-08-26  8.95   9.29  8.00   8.30   8.300000    17487  ZWIPE.OL
27247614 2022-08-29  8.12   8.61  7.86   7.98   7.980000    58661  ZWIPE.OL
27247615 2022-08-30  7.70   8.52  7.60   8.33   8.330000     7684  ZWIPE.OL

[27247616 rows x 8 columns]

In [7]:
#Select one company
df_sel = df[df['Name'] == 'GOOGL'].reset_index(drop = True)
print(df_sel)

           Date        Open        High         Low       Close   Adj Close  \
0    2004-08-19    2.502503    2.604104    2.401401    2.511011    2.511011
1    2004-08-20    2.527778    2.729730    2.515015    2.710460    2.710460
2    2004-08-23    2.771522    2.839840    2.728979    2.737738    2.737738
3    2004-08-24    2.783784    2.792793    2.591842    2.624374    2.624374
4    2004-08-25    2.626627    2.702703    2.599600    2.652653    2.652653
...         ...         ...         ...         ...         ...         ...
4535 2022-08-24  113.500000  114.779999  112.870003  113.690002  113.690002
4536 2022-08-25  114.239998  116.720001  114.110001  116.650002  116.650002
4537 2022-08-26  114.720001  115.120003  110.190002  110.339996  110.339996
4538 2022-08-29  109.989998  110.949997  108.800003  109.419998  109.419998
4539 2022-08-30  110.169998  110.500000  107.800003  108.940002  108.940002

         Volume   Name
0     893181924  GOOGL
1     456686856  GOOGL
2     365122512  GOOGL
3     304946748  GOOGL
4     183772044  GOOGL
...         ...    ...
4535   17734600  GOOGL
4536   16956800  GOOGL
4537   37245700  GOOGL
4538   21191200  GOOGL
4539   27513300  GOOGL

[4540 rows x 8 columns]

# Step 2

In [11]:

for k in df_sel.columns[1:6]:
    print(k)
    perc = []
    for index, line in df_sel.iterrows():
        if index == 0:
            perc.append(np.nan)
        else:
            perc.append((line[k] - df_sel.loc[index-1, k])/line[k] *100)
    df_sel['Perc_change_' +k] = perc
print(df_sel)

Open
High
Low
Close
Adj Close
           Date        Open        High         Low       Close   Adj Close  \
0    2004-08-19    2.502503    2.604104    2.401401    2.511011    2.511011
1    2004-08-20    2.527778    2.729730    2.515015    2.710460    2.710460
2    2004-08-23    2.771522    2.839840    2.728979    2.737738    2.737738
3    2004-08-24    2.783784    2.792793    2.591842    2.624374    2.624374
4    2004-08-25    2.626627    2.702703    2.599600    2.652653    2.652653
...         ...         ...         ...         ...         ...         ...
4535 2022-08-24  113.500000  114.779999  112.870003  113.690002  113.690002
4536 2022-08-25  114.239998  116.720001  114.110001  116.650002  116.650002
4537 2022-08-26  114.720001  115.120003  110.190002  110.339996  110.339996
4538 2022-08-29  109.989998  110.949997  108.800003  109.419998  109.419998
4539 2022-08-30  110.169998  110.500000  107.800003  108.940002  108.940002

         Volume   Name  Perc_change_Open  Perc_change_High  Perc_change_Low  \
0     893181924  GOOGL               NaN               NaN              NaN
1     456686856  GOOGL          0.999890          4.602135         4.517422
2     365122512  GOOGL          8.794595          3.877333         7.840449
3     304946748  GOOGL          0.440475         -1.684582        -5.291109
4     183772044  GOOGL         -5.983223         -3.333331         0.298436
...         ...    ...               ...               ...              ...
4535   17734600  GOOGL          0.017618         -0.200386        -0.496144
4536   16956800  GOOGL          0.647757          1.662099         1.086669
4537   37245700  GOOGL          0.418413         -1.389853        -3.557490
4538   21191200  GOOGL         -4.300394         -3.758455        -1.277573
4539   27513300  GOOGL          0.163384         -0.407237        -0.927644

      Perc_change_Close  Perc_change_Adj Close
0                   NaN                    NaN
1              7.358495               7.358493
2              0.996368               0.996370
3             -4.319658              -4.319659
4              1.066067               1.066065
...                 ...                    ...
4535          -0.149528              -0.149529
4536           2.537505               2.537505
4537          -5.718693              -5.718693
4538          -0.840795              -0.840795
4539          -0.440606              -0.440606

[4540 rows x 13 columns]